.musicData {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  top: 150px;
  position: relative;
  padding-left: 12%;
}
.musicAll {
  padding: 2%;
  border-radius: 4%;
  box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
  font-size: 15px;
  background-color: #141313;
  border: 1px solid white;
  cursor: pointer;
}

.filterButton {
  position: fixed;
  z-index: 1;
  top: 70px;
  display: flex;
}

.musicAll:hover {
  transition-duration: 2s;
  transform: translateY(20px);
  box-shadow: 7px 5px 5px 6px grey;
}
.songs {
  font-size: 20px;
  font-weight: bold;
}

.musicpic > img {
  width: 300px;
  height: 300px;
}

img {
  width: 100%;
  border-radius: 5%;
}

@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  .musicData {
    display: flex;
    flex-wrap: wrap;
    top: 150px;
    position: relative;
    padding: 3%;
  }
  .musicAll {
    padding: 2%;
    border-radius: 4%;
    box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
    font-size: 15px;
  }

  .musicAll:hover {
    transition-duration: 2s;
    transform: translateY(20px);
    box-shadow: 7px 5px 5px 6px grey;
  }

  .musicpic > img {
    width: 200px;
    height: 200px;
  }

  img {
    width: 100%;
  }
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
}
