.signup {
  display: flex;
}
.signupLeft {
  width: 49%;
  font-size: 40px;
}
.signupRight {
  margin-top: 200px;
  width: 49%;
}

.signupRight input {
  padding: 2%;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 50%;
}

.buttonlogin {
  width: 50px;
  padding-top: 10px;
  height: 50px;
}
